/* Cores */
$color-g-1: #494949;

/* Utility class changes */
.l20px {
  left: 0px;
}

/* Navbar */
#navbar {
  .logo {
    float: none;
    text-align: center;
  }
  #navbar-inside {
    display: none;
  }
  #mobile-arrow {
    display: block;
    margin: auto;
    padding: 5px 0px;
    filter: invert(98%) sepia(4%) saturate(106%) hue-rotate(276deg)
      brightness(113%) contrast(90%);
    width: 15px;
  }
  ul {
    float: none;
    li {
      float: none;
      a {
        padding: 5px;
        border-bottom: $color-g-1 dotted 1px;
      }
    }
  }
}

/* Showcases*/
#showcase {
  height: 100%;
  .showcase-content {
    padding-top: 30px;
    padding-bottom: 30px;
    .showcase-image {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img {
        flex-basis: 400px;
      }
    }
  }
}

/* Home Info*/
#home_info {
  height: 550px;
  .info {
    &-img {
      display: none;
    }
    &-content {
      float: none;
      width: 100%;
    }
  }
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

/* About Info*/
#about-info {
  text-align: center;
  .info-right,
  .info-left {
    float: none;
    width: 100%;
    img {
      width: 70%;
    }
  }
  .info-left {
    margin-top: 30px;
  }
}

#principles {
  text-align: center;
  .text-primary::after {
    content: "\A";
    white-space: pre;
  }
}

.l-heading {
  text-align: center;
}

#contactos {
  .column {
    border-bottom: $color-g-1 dotted 1px;
  }
}

input,
textarea {
  min-width: 100%;
}

.flexcontainer {
  flex-direction: column;
}

#failed {
  width: 100%;
}
#username,
#password {
  width: 100%;
}
