/* colors */
/* Sizes */
/* Utility class changes */
.l20px {
  left: 0px;
}

/* Navbar */
#navbar #logo {
  text-align: center;
  border-bottom: 0;
}

#navbar .nav-column {
  display: none;
}

#navbar #mobile_arrow {
  display: block;
  margin: auto;
  padding: 5px 0px;
  -webkit-filter: invert(98%) sepia(4%) saturate(106%) hue-rotate(276deg) brightness(113%) contrast(90%);
          filter: invert(98%) sepia(4%) saturate(106%) hue-rotate(276deg) brightness(113%) contrast(90%);
  width: 15px;
}

#navbar a {
  padding: 5px;
  border-bottom: 1px dotted #494949;
}

#navbar a:hover, #navbar a.current {
  border-bottom: 1px dotted #494949;
}

/* Showcases*/
#showcase {
  height: 100%;
}

#showcase .showcase-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

#showcase .showcase-content .showcase-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#showcase .showcase-content .showcase-image img {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

/* Home Info*/
#home_info {
  border-bottom: 2px solid black;
}

#home_info img {
  border-top: 2px solid black;
}

#home_info .info-content {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

/* About Info*/
#about-info {
  text-align: center;
}

#about-info .info-* {
  float: none;
  width: 100%;
}

#about-info .info-* img {
  width: 70%;
}

#about-info .info-left {
  margin-top: 30px;
}

#about-info iframe {
  width: 560px;
  height: 315px;
}

#principles {
  text-align: center;
}

#principles .text-primary::after {
  content: "\A";
  white-space: pre;
}

.l-heading {
  text-align: center;
}

#contactos .column {
  border-bottom: #494949 dotted 1px;
}

.flexcontainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexcontainer#nav :nth-child(2) {
  border-bottom: 0;
}

.gridcontainer {
  margin: 5% 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.gridcontainer * {
  background: #f2f2f2;
  border: 1px white solid;
  height: 30vw;
}

#failed {
  width: 100%;
}

#contact-form .form-group input,
#contact-form .form-group select,
#contact-form .form-group textarea,
#contact-form .form-group #username,
#contact-form .form-group #useremail,
#contact-form .form-group #password,
#login-form .form-group input,
#login-form .form-group select,
#login-form .form-group textarea,
#login-form .form-group #username,
#login-form .form-group #useremail,
#login-form .form-group #password,
#signup-form .form-group input,
#signup-form .form-group select,
#signup-form .form-group textarea,
#signup-form .form-group #username,
#signup-form .form-group #useremail,
#signup-form .form-group #password {
  min-width: 100%;
}
/*# sourceMappingURL=mobile.css.map */