/* colors */
$color-bg: #134400;
$color-v-0: #e8ffe7;
$color-v-1: #5d8939;
$color-v-2: #00a05b;
$color-v-3: #bfffd2;
$color-v-4: #007c46;
$color-g-1: #494949;
$color-g-2: #2c2c2c;
$color-g-3: #a3a3a3;
$color-g-4: #4d4d4d;
$color-w-1: #f2f2f2;
$color-w-2: #c7c7c7;
$color-r-1: #ff8181;
$color-r-2: #df0000;

/* Sizes */
$navpadding: 2px;

/* Utility class changes */
.l20px {
  left: 0px;
}

/* Navbar */
#navbar {
  #logo {
    text-align: center;
    border-bottom: 0;
  }
  .nav-column {
    display: none;
  }
  #mobile_arrow {
    display: block;
    margin: auto;
    padding: 5px 0px;
    filter: invert(98%) sepia(4%) saturate(106%) hue-rotate(276deg)
      brightness(113%) contrast(90%);
    width: 15px;
  }
  a {
    padding: 5px;
    border-bottom: 1px dotted $color-g-1;
    &:hover,
    &.current {
      border-bottom: 1px dotted $color-g-1;
    }
  }
}

/* Showcases*/
#showcase {
  height: 100%;
  .showcase-content {
    padding-top: 30px;
    padding-bottom: 30px;
    .showcase-image {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img {
        flex-basis: 400px;
      }
    }
  }
}

/* Home Info*/
#home_info {
  border-bottom: 2px solid black;
  img {
    border-top: 2px solid black;
  }
  .info-content {
    order: 0;
    width: 100%;
  }
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

/* About Info*/
#about-info {
  text-align: center;
  .info-right,
  .info-left {
    float: none;
    width: 100%;
    img {
      width: 70%;
    }
  }
  .info-left {
    margin-top: 30px;
  }
}

#principles {
  text-align: center;
  .text-primary::after {
    content: "\A";
    white-space: pre;
  }
}

.l-heading {
  text-align: center;
}

#contactos {
  .column {
    border-bottom: $color-g-1 dotted 1px;
  }
}

.flexcontainer {
  flex-direction: column;
  &#nav {
    :nth-child(2) {
      border-bottom: 0;
    }
  }
}

.gridcontainer {
  margin: 5% 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  * {
    background: rgba(0, 0, 0, 0.1);
    border: 1px white solid;
    height: 30vw;
  }
}

#failed {
  width: 100%;
}
#contact-form,
#login-form,
#signup-form {
  .form-group {
    input,
    select,
    textarea,
    #username,
    #useremail,
    #password {
      min-width: 100%;
    }
  }
}
