/* colors */
/* Sizes */
/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Main Styling*/
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #494949;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes*/
.column,
.nav-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.invisible {
  display: none;
}

.l20px {
  position: relative;
  left: 20px;
}

.container {
  margin: auto;
  max-width: 100%;
  overflow: auto;
  padding: 0 20px;
}

.container#sign {
  padding: 0;
}

.required {
  color: #df0000;
}

.flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexcontainer .box {
  white-space: nowrap;
}

.flexcontainer .box p {
  text-align: center;
}

.flexcontainer#nav {
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flexcontainer#nav :nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flexcontainer#nav :nth-child(2) {
  border-bottom: 2px solid #c7c7c7;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flexcontainer#nav :nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flexcontainer#nav :nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flexcontainer#nav :nth-child(5) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flexcontainer#nav :nth-child(6) {
  -webkit-box-flex: 0.8;
      -ms-flex-positive: 0.8;
          flex-grow: 0.8;
}

.flexcontainer#nav :nth-child(7) {
  -webkit-box-flex: 0.8;
      -ms-flex-positive: 0.8;
          flex-grow: 0.8;
}

.flexcontainer#nav :nth-child(8) {
  -webkit-box-flex: 0.8;
      -ms-flex-positive: 0.8;
          flex-grow: 0.8;
}

.flexcontainer#nav :nth-child(9) {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.gridcontainer {
  -webkit-box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.3);
  margin: 5% 5%;
  padding: 10px;
  grid-gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.gridcontainer * {
  background: #f2f2f2;
  border: 1px white solid;
  height: 17vw;
}

.text-primary {
  color: #00a05b;
}

.lead {
  font-size: 22px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  color: #f2f2f2;
  background: #2c2c2c;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #00a05b;
}

.btn-light {
  background: #c7c7c7;
  color: #2c2c2c;
}

.bg-dark {
  background: #2c2c2c;
  color: #134400;
}

.bg-media {
  background: #4d4d4d;
  color: #f2f2f2;
}

.bg-white {
  background-color: white;
  color: #2c2c2c;
  border-top: 2px solid white;
}

.bg-white .l-heading {
  color: black;
}

.bg-light {
  background: #f2f2f2;
  color: #2c2c2c;
}

.bg-primary {
  background: #00a05b;
  color: #f2f2f2;
}

.clr {
  content: "";
  display: table;
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

.link,
.link:visited {
  color: #00a05b;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

/* Padding*/
.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

/* Navbar*/
#navbar {
  background: #2c2c2c;
  color: #f2f2f2;
}

#navbar #mobile_arrow {
  display: none;
}

#navbar #logo {
  font-weight: bold;
  color: #00a05b;
  font-size: 21px;
}

#navbar a {
  border-bottom: 2px solid #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px;
  color: #f2f2f2;
  display: block;
}

#navbar a:hover, #navbar a.current {
  background: #494949;
  color: #00a05b;
  border-bottom: 2px solid #00a05b;
}

#navbar a span {
  position: relative;
  top: 8px;
}

/* Showcase*/
#showcase {
  height: 94vh;
  background: url("img/slide-0.jpg") no-repeat center center/cover;
}

#showcase .showcase-content {
  color: #f2f2f2;
  text-align: center;
  text-shadow: 0 0 1px black;
  padding-top: 20vh;
}

#showcase .showcase-content .showcase-image {
  width: 100%;
  height: auto;
}

#showcase .showcase-content .showcase-image img {
  width: 50%;
  height: auto;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home Info*/
#maisHome {
  font-size: 25px;
  padding: 15px 25px;
}

#home_info {
  border-top: 3px solid black;
}

#home_info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home_info #read-mais {
  margin: auto;
  width: 200px;
}

#home_info .info-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 20px;
  float: right;
  margin-top: 4%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  background-color: #f2f2f2;
}

#home_info .info-content h1 {
  font-size: 2em;
}

#home_info .info-content p {
  padding-bottom: 30px;
}

/* Features */
#features {
  overflow: hidden;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  margin-bottom: -999px;
  padding-bottom: 999px;
}

.box p {
  margin-bottom: 25px;
}

.box img {
  width: 100px;
  margin-bottom: 25px;
  -webkit-filter: invert(28%) sepia(0%) saturate(1327%) hue-rotate(249deg) brightness(93%) contrast(88%);
          filter: invert(28%) sepia(0%) saturate(1327%) hue-rotate(249deg) brightness(93%) contrast(88%);
}

.box img[src="svg/euro_tag.svg"] {
  -webkit-filter: invert(100%) sepia(0%) saturate(1699%) hue-rotate(151deg) brightness(90%) contrast(70%);
          filter: invert(100%) sepia(0%) saturate(1699%) hue-rotate(151deg) brightness(90%) contrast(70%);
}

#contactos {
  color: #e8ffe7;
  overflow: hidden;
}

#contactos .column {
  text-align: center;
  padding: 50px;
}

#contactos img {
  margin: 0 auto 25px auto;
  width: 100px;
  -webkit-filter: invert(47%) sepia(33%) saturate(5926%) hue-rotate(129deg) brightness(88%) contrast(101%);
          filter: invert(47%) sepia(33%) saturate(5926%) hue-rotate(129deg) brightness(88%) contrast(101%);
}

/* Quem Somos */
#principles {
  color: white;
}

#about-info iframe {
  width: 800px;
  height: 450px;
}

#about-info .info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: white;
  float: right;
}

#about-info .info-right img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin: auto;
  border-radius: 100%;
  border: 5px solid #007c46;
}

#about-info .info-right iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin: auto;
  border: 5px solid #007c46;
}

#about-info .info-left {
  padding: 1.1%;
  padding-left: 2.5%;
  float: left;
}

/* why is this here */
#testimonials {
  height: 100%;
  background: url("img/test-bg.jpg") no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials h2 {
  color: #f2f2f2;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact & Login & Signup Form*/
#contact-form .form-group,
#login-form .form-group,
#signup-form .form-group {
  margin-bottom: 20px;
}

#contact-form .form-group input,
#contact-form .form-group select,
#contact-form .form-group textarea,
#login-form .form-group input,
#login-form .form-group select,
#login-form .form-group textarea,
#signup-form .form-group input,
#signup-form .form-group select,
#signup-form .form-group textarea {
  width: 50%;
  padding: 10px;
  border: 1px #c7c7c7 solid;
  height: 30px;
}

#contact-form .form-group input:focus,
#contact-form .form-group select:focus,
#contact-form .form-group textarea:focus,
#login-form .form-group input:focus,
#login-form .form-group select:focus,
#login-form .form-group textarea:focus,
#signup-form .form-group input:focus,
#signup-form .form-group select:focus,
#signup-form .form-group textarea:focus {
  outline: none;
  border-color: #00a05b;
}

#contact-form .form-group textarea,
#login-form .form-group textarea,
#signup-form .form-group textarea {
  font-size: 1.3em;
  width: 80%;
  padding: 10px;
  border: 1px #c7c7c7 solid;
  height: 200px;
}

#contact-form .form-group #gender,
#login-form .form-group #gender,
#signup-form .form-group #gender {
  padding: 0px 8px;
  width: 140px;
}

#contact-form .form-group #age,
#login-form .form-group #age,
#signup-form .form-group #age {
  padding: 0 10px;
  width: 60px;
}

#contact-form .form-group #username,
#contact-form .form-group #password,
#contact-form .form-group #useremail,
#login-form .form-group #username,
#login-form .form-group #password,
#login-form .form-group #useremail,
#signup-form .form-group #username,
#signup-form .form-group #password,
#signup-form .form-group #useremail {
  width: 15%;
  min-width: 300px;
}

#contact-form label,
#login-form label,
#signup-form label {
  display: block;
  margin-bottom: 5px;
}

#registar:hover span,
#voltar:hover span {
  color: white;
  background-color: #00a05b;
}

#voltar button {
  margin-bottom: 25px;
}

#failed {
  width: 23em;
  text-align: center;
  padding: 5px;
  background-color: #ff8181;
  border: 1px solid #df0000;
  border-radius: 10px;
}

/* Footer*/
#main-footer {
  text-align: center;
  background: #494949;
  color: #f2f2f2;
  padding: 20px;
}

#client-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #494949;
  color: #f2f2f2;
  padding: 1rem;
}

#cliente_div,
#registar_div {
  position: relative;
  margin: 0;
  padding-bottom: 31.9vh;
  min-height: 100%;
}

#cliente_div {
  padding-bottom: 47.7vh;
}
/*# sourceMappingURL=style.css.map */