/* colors */
$color-bg: #134400;
$color-v-0: #e8ffe7;
$color-v-1: #5d8939;
$color-v-2: #00a05b;
$color-v-3: #bfffd2;
$color-v-4: #007c46;
$color-g-1: #494949;
$color-g-2: #2c2c2c;
$color-g-3: #a3a3a3;
$color-g-4: #4d4d4d;
$color-w-1: #f2f2f2;
$color-w-2: #c7c7c7;
$color-r-1: #ff8181;
$color-r-2: #df0000;
$transparent: #00000000;

/* Sizes */
$navpadding: 2px;

// filter calculator: https://codepen.io/sosuke/pen/Pjoqqp

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling*/
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
a {
  color: $color-g-1;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes*/

.column,
.nav-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.invisible {
  display: none;
}
// Left 20 px
.l20px {
  position: relative;
  left: 20px;
}

.container {
  overflow: hidden;
  margin: auto;
  max-width: 100%;
  padding: 0 20px;
  &#sign {
    padding: 0;
  }
}

.required {
  color: $color-r-2;
}

.flexcontainer {
  display: flex;
  .box {
    p {
      text-align: center;
    }
    white-space: nowrap;
  }
  &#nav {
    padding: 0;
    justify-content: space-evenly;
    :nth-child(1) {
      flex-grow: 1;
    }
    :nth-child(2) {
      border-bottom: $navpadding solid $color-w-2;
      flex-grow: 2;
    }
    :nth-child(3) {
      flex-grow: 1;
    }
    :nth-child(4) {
      flex-grow: 1;
    }
    :nth-child(5) {
      flex-grow: 1;
    }
    :nth-child(6) {
      flex-grow: 0.8;
    }
    :nth-child(7) {
      flex-grow: 0.8;
    }
    :nth-child(8) {
      flex-grow: 0.8;
    }
    :nth-child(9) {
      flex-grow: 2;
      min-width: 150px;
    }
  }
}

.text-primary {
  color: $color-v-2;
}

.text-white {
  color: $color-w-1;
}

.lead {
  font-size: 22px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  color: $color-w-1;
  background: $color-g-2;
  padding: 13px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background: $color-v-2;
  }

  &-light {
    background: $color-w-2;
    color: $color-g-2;
  }
}

.bg {
  &-dark {
    background: $color-g-2;
    color: $color-bg;
  }
  &-media {
    background: $color-g-4;
    color: $color-w-1;
  }
  &-white {
    background-color: white;
    color: $color-g-2;
    border-top: 2px solid white;
    .l-heading {
      color: black;
    }
  }
  &-light {
    background: $color-w-1;
    color: $color-g-2;
  }
  &-primary {
    background: $color-v-2;
    color: $color-w-1;
  }
}

.clr {
  content: "";
  display: table;
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

.link,
.link:visited {
  color: $color-v-2;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

/* Padding*/
.py {
  &-1 {
    padding: 10px 0;
  }
  &-2 {
    padding: 20px 0;
  }
  &-3 {
    padding: 30px 0;
  }
}

/* Navbar*/
#navbar {
  background: $color-g-2;
  color: $color-w-1;
  font-size: calc(10px + 0.3vw);
  overflow: hidden;
  .container {
    padding: 0 0.3vw;
  }
  #mobile_arrow {
    display: none;
  }
  #logo {
    font-weight: bold;
    color: $color-v-2;
    font-size: calc(10px + 0.7vw);
  }
  #nav-sub {
    display: none;
    border-bottom: 0;
    padding-right: 0.3vw;
    padding-top: 0;
    right: 0;
    margin-right: auto;
    position: absolute;
    top: 59px;
    text-align: center;
    width: 150px;
    a {
      background-color: $color-g-2;
      &:hover {
        background: $color-g-1;
        color: $color-v-2;
        border-bottom: $navpadding solid $color-v-2;
      }
    }
  }

  a {
    white-space: nowrap;
    border-bottom: $navpadding solid $color-w-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
    color: $color-w-1;
    display: block;
    &:hover,
    &.current {
      background: $color-g-1;
      color: $color-v-2;
      border-bottom: $navpadding solid $color-v-2;
    }
    span {
      position: relative;
      top: 8px;
    }
  }
}

/* Showcase*/
#showcase {
  height: 94vh;
  #slideshowdiv {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    * {
      position: relative;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #slide {
      &0 {
        background-image: url("../img/slide-0.jpg");
      }
      &1 {
        background-image: url("../img/slide-1.jpg");
      }
      &2 {
        background-image: url("../img/slide-2.jpg");
      }
      &3 {
        background-image: url("../img/slide-3.jpg");
      }
    }
  }
  .showcase-content {
    color: $color-w-1;
    text-align: center;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    padding-top: 20vh;

    .showcase-image {
      width: 100%;
      height: auto;
      img {
        width: 50%;
        height: auto;
      }
    }
    p {
      padding-bottom: 20px;
      line-height: 1.7em;
    }
  }
}

/* Home Info*/
#maisHome {
  font-size: 25px;
  padding: 15px 25px;
}
#home_info {
  border-top: 3px solid black;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #read-mais {
    margin: auto;
    width: 200px;
  }
  .info-content {
    order: 2;
    h1 {
      font-size: 2em;
    }
    font-size: 20px;
    float: right;
    margin-top: 4%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    background-color: $color-w-1;
    p {
      padding-bottom: 30px;
    }
  }
}

/* Features */
#features {
  overflow: hidden;
}
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  margin-bottom: -999px;
  padding-bottom: 999px;
  p {
    margin-bottom: 25px;
  }
  img {
    width: 100px;
    margin-bottom: 25px;
    filter: invert(28%) sepia(0%) saturate(1327%) hue-rotate(249deg)
      brightness(93%) contrast(88%);
    &[src="svg/euro_tag.svg"] {
      filter: invert(100%) sepia(0%) saturate(1699%) hue-rotate(151deg)
        brightness(90%) contrast(70%);
    }
  }
}

#contactos {
  color: $color-v-0;
  overflow: hidden;
  .column {
    text-align: center;
    padding: 50px;
  }
  img {
    margin: 0 auto 25px auto;
    width: 100px;
    filter: invert(47%) sepia(33%) saturate(5926%) hue-rotate(129deg)
      brightness(88%) contrast(101%);
  }
}

/* Quem Somos */
#principles {
  color: white;
}
#about-info {
  iframe {
    width: 800px;
    height: 450px;
  }

  .info {
    &-right {
      display: flex;
      height: 100%;
      background-color: white;
      float: right;
      img {
        display: flex;
        max-width: 90%;
        margin: auto;
        border-radius: 100%;
        border: 5px solid $color-v-4;
      }
      iframe {
        display: flex;
        max-width: 90%;
        margin: auto;
        border: 5px solid $color-v-4;
      }
    }
    &-left {
      padding: 1.1%;
      padding-left: 2.5%;
      float: left;
    }
  }
}

/* O Que Fazemos */
.videos {
  display: flex;
  height: 620px;
  max-height: 50vw;

  iframe {
    display: flex;
    width: 95%;
    height: 95%;

    margin: auto;
    border: 5px solid $color-v-4;
  }
}

/* Eventos */
#mais-projetos {
  margin: 5% 5%;
  .mais-projetos {
    background-color: $color-w-1;
    color: black;
    padding: 20px;
    border: 2px solid $color-w-1;
    width: 100%;
    height: auto;
    min-height: 90px;

    ul {
      padding-left: 1.5em;
    }

    .close {
      z-index: 0;
      float: right;
      width: 50px;
      height: 50px;
      &:hover {
        cursor: pointer;
      }
    }
    .title {
      font-weight: bold;
      pointer-events: none;
      position: relative;
      top: -3px;
      padding-bottom: 30px;
      color: $color-v-2;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
      border-bottom: 2px dotted $color-g-2;
    }
    .subtitle {
      color: $color-v-2;
    }
  }

  .map {
    iframe {
      border: 5px solid $color-v-4;
      width: 100%;
    }
  }
  #maps-tejo,
  #maps-serra {
    iframe {
      border: 5px solid $color-v-4;
      width: 100%;
    }
  }
}
#eventos {
  margin: 5% 5%;
  color: $color-w-1;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  #txt-eventos {
    .bold {
      color: $color-v-2;
      font-size: 45px;
    }
  }
  .gridcontainer {
    box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.3);
    padding: 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    div {
      font-size: calc(15px - 1vw);
      background: white;
      height: 17.2vw;
      padding: 10px 10px;
      color: $color-g-2;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
    img {
      width: 100%;
      border-radius: 3%;
      border: 0.2vw solid $color-g-2;
      margin-top: 5%;
    }
    p {
      margin-top: 5%;
      font-size: calc(8px + 1vmax);
      line-height: calc(8px + 1vmax);
    }
    .pointer {
      cursor: pointer;
    }
    #item {
      &0 {
        height: calc(34.4vw + 10px);
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        img {
          width: 90%;
          border-radius: 3%;
          border: 6px solid $color-g-2;
          margin: 10% auto 0 0;
        }
        p {
          font-size: calc(18px + 1vmax);
          line-height: calc(18px + 1vmax);
        }
      }
      &1 {
        p {
          margin-top: 5%;
        }
      }
      &2 {
        background-color: white;
        img {
          width: 100%;
          border: 0;
          margin-top: 20%;
        }
      }
      &3 {
        img {
          border: 0;
          width: 100%;
          margin-top: 10%;
        }
      }
      &6 {
        img {
          border: 0;
          padding: 5px;
          margin-top: 15%;
        }
      }
      &7 {
        img {
          margin: 0;
          border: 0;
        }
      }
      &8 {
        img {
          border: 0;
          width: 70%;
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
      &9 {
        img {
          border: 0;
          margin-top: 12%;
        }
      }
      &10 {
        height: calc(34.4vw + 10px);
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 4;
        grid-column-end: 6;
        img {
          width: 90%;
        }
        p {
          font-size: calc(18px + 1vmax);
          line-height: calc(18px + 1vmax);
        }
      }
      &11 {
        p {
          margin-top: 8%;
          font-size: calc(18px + 1vmax);
        }
      }
      &12 {
        img {
          width: 90%;
        }
        margin: 0;
      }
      &13 {
        img {
          border: 0;
          width: 90%;
          margin: 0;
        }
      }
    }
  }
}

/* Recursos */

#social {
  margin: 5%;
  color: $color-w-1;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  .bold {
    color: $color-v-2;
    font-size: 45px;
  }
  .flexcontainer {
    margin-top: 5%;
    width: 100%;
    justify-content: space-evenly;
    .column {
      overflow: hidden;
      padding: 20px;
      border-left: 2px solid white;
      &:first-child {
        border: 0;
      }
    }
    a {
      overflow: hidden;
      display: block;
      margin: 0 auto;
      width: 200px;
    }
    .clickable {
      width: 200px;
      background-color: white;
      margin: auto;
      display: block;
      border: 5px solid $transparent;
    }
  }
}

/* Contact & Login & Signup Form*/
#contact-form,
#login-form,
#signup-form {
  .form-group {
    margin-bottom: 20px;

    input,
    select,
    textarea {
      width: 50%;
      margin: 0 2px;
      padding: 10px;
      border: 1px $color-w-2 solid;
      height: 30px;
      &:focus {
        outline: none;
        border-color: $color-v-2;
      }
    }
    textarea {
      font-size: 1.3em;
      width: 80%;
      padding: 10px;
      border: 1px $color-w-2 solid;
      height: 200px;
    }
    #gender {
      padding: 0px 8px;
      width: 140px;
    }
    #age {
      padding: 0 10px;
      width: 60px;
    }
    #username,
    #password,
    #useremail {
      width: 15%;
      min-width: 300px;
    }
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
}

#registar,
#voltar {
  &:hover {
    span {
      color: white;
      background-color: $color-v-2;
    }
  }
}
#voltar {
  button {
    margin-bottom: 25px;
  }
}
#failed {
  width: 23em;
  text-align: center;
  padding: 5px;
  background-color: $color-r-1;
  border: 1px solid $color-r-2;
  border-radius: 10px;
}
#loader {
  border: 10px solid $color-w-1;
  border-top: 10px solid $color-v-4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 15px auto;
}

/* Footer*/
footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  background: $color-g-1;
  color: $color-w-1;
  padding: 20px;
}

/* Animações */

@keyframes fade-in-slideshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out-slideshow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in-slide {
  animation: fade-in-slideshow 0.15s;
}

.fade-out-slide {
  animation: fade-out-slideshow 0.15s;
}
